{
  "extends": ["adequate", "plugin:flowtype/recommended"],
  "plugins": ["flowtype", "flowtype-errors"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env":{
    "mocha": true
  },
  "globals": {
    "window": true,
    "__VERSION__": true,
    "setTimeout": true,
    "process": true
  }
}
