{
  "extends": ["adequate", "plugin:flowtype/recommended"],
  "plugins": ["flowtype", "flowtype-errors"],
  "env":{
    "mocha": true
  },
  "globals": {
    "window": true,
    "__VERSION__": true,
    "setTimeout": true,
    "process": true
  }
}
