{
  "extends": ["adequate", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "__VERSION__": true
  },
  "env": {
    "mocha": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": 0
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
